{% extends 'base.html' %} {% block content %} {% if user.is_authenticated and user.username == 'gerente' or user.username == 'admin' %}
<div class="row">
    <div class="col-xs-6 ml-4 my-3">
        <h2>Proveedores</h2>
    </div>
    <div class="col-xs-6 mx-4 my-3">
        <a href="/suppliers/new">
            <button type="button" class="btn btn-info">Agregar Proveedor</button>
        </a>
    </div>
</div>
{% else %}
<h2>Proveedores</h2>
{% endif %}

{% for s in supplier_list %}
<a href="/suppliers/{{s.pk}}" style="color:black">
    <div class="my-3" style="display:inline-block; cursor: pointer">
        <div class="card mx-3" style="width: 18rem; display:inline-block;">
            <img src="../../../static/media/supplier.png" style="width: 20vh; margin: 1em 25%;" class="card-img-top" alt="Supplier">
            <div class="card-body text-center">
                <h5 class="card-title">Proveedor {{s.pk}}</h5>
                <h5 class="card-title">Nombre: {{s.name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Email: </b> {{s.email}}</li>
                <li class="list-group-item"><b>Teléfono: </b> {{s.phone}}</li>
                <li class="list-group-item"><b>NIT: </b> {{s.nit}}</li>
                <li class="list-group-item"><b>Ciudad: </b> {{s.city}}</li>
                <li class="list-group-item"><b>Dirección: </b> {{s.address}}</li>
            </ul>
        </div>
    </div>
</a>
{% endfor %} {% endblock %}